.ContactPage {
    padding-inline: 1rem;
}

.ContactForm {
    padding: 0;
    overflow: hidden;

    height: 40rem;
    box-shadow: var(--small-center-shadow);
    border-radius: .5rem;

    display: flex;
    align-items: center;
}

.FormSideImage {
    width: 20%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.ContactFields {
    width: 60%;
    margin-inline: auto;

    display: flex;
    flex-direction: column;

    .FormInput {
        max-width: 25rem;
        margin-bottom: 2rem;
    }
}

.FormTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.FormValidation {
    height: auto;
    margin-top: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}


@media screen and (max-width: 800px) {
    .ContactForm {
        height: auto;
        padding: 2rem 1rem;
        flex-direction: column;
    }

    .FormSideImage {
        display: none;
    }

    .ContactFields {
        width: 90%;
    }

    .FormValidation {
        flex-direction: column-reverse;
    }
}



.SocialSection {
    margin-top: 6rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}



.GitHubBG { background-color: #333; }
.LinkedInBG { background-color: #0072B1; }
.InstagramBG {
    background: #d6249f;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}