.QuotationWrapper {
    width: min(100%, 1000px);
    margin-inline: auto;
    padding-inline: 3rem;

    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
}

.Quotation {
    isolation: isolate;

    position: relative;
    width: 100%;
    height: auto;
    padding: 4rem;

    border-radius: .5rem;
    background-color: var(--quotation-bg-clr);

    p {
        text-align: justify;
    }

    p:not(:last-of-type) {
        margin-bottom: 1rem;
    }
}


$quoteDistance: 2rem;
$quoteDistanceMobile: 1rem;

.QuoteMark {
    z-index: -1;

    position: absolute;
    top: $quoteDistance;
    left: $quoteDistance;

    width: 7rem;
    height: 7rem;
    object-fit: contain;

    fill: var(--quote-fill-clr);

    transform: rotateX(180deg) rotateY(180deg);

    &.Reverse {
        top: auto;
        left: auto;

        bottom: $quoteDistance;
        right: $quoteDistance;

        transform: rotateX(0) rotateY(0);
    }
}


@media screen and (max-width: 700px) {
    .QuotationWrapper {
        padding-inline: 0;
    }

    .Quotation {
        padding: 2rem;
    }

    .QuoteMark {
        width: 5rem;
        height: 5rem;

        top: $quoteDistanceMobile;
        left: $quoteDistanceMobile;

        &.Reverse {
            bottom: $quoteDistanceMobile;
            right: $quoteDistanceMobile;
        }
    }
}