.InputField {
    position: relative;
    margin-top: 1rem;
    margin-right: 2.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: auto;
    color: var(--txt-clr-3);
    box-shadow: var(--small-right-shadow);

    border: 3px solid var(--textarea-border-clr);
    border-radius: .3rem;
}

.Input {
    width: 100%;
    user-select: none;
    resize: none;

    padding: 1rem .5rem;
    font-size: 1.1em;
    font-weight: 300;
    font-family: 'Popins', Helvetica, Arial, sans-serif;
    letter-spacing: .5px;

    background-color: transparent;
    color: var(--np-txt-clr);

    outline: none;
    border: none;

    &:not(:placeholder-shown) ~ .InputLabel,
    &:focus ~ .InputLabel {
        left: .5rem;
        top: -.9rem;
        font-size: .8em;
        font-weight: 400;
    }
}


.InputLabel {
    position: absolute;
    top: 1.5rem;
    left: .5rem;
    transform: translateY(-50%);

    width: calc(100% - 1rem);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;

    user-select: none;
    pointer-events: none;
    font-weight: 300;

    transition: left 150ms ease-in-out, top 150ms ease-in-out, font-size 150ms ease-in-out, font-weight 150ms ease-in-out;
}
